<!-- Page Header Start -->
<div class="container-fluid py-1">
    <div class="container py-2">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-right">
                <h3 class="mb-4 mb-md-0 text-primary text-uppercase output">
                   نتيجة فحص
                </h3>
            </div>
            <div class="col-md-6 text-center text-md-left">
                <div class="d-inline-flex align-items-center">
                    <a class="btn btn-secondary" href=""> فحص جزئى</a>
                    <i class="fas fa-angle-double-right text-primary mx-2"></i>
                    <a class="btn btn-secondary disabled" href="">نتيجة فحص</a>
                </div>
            </div>
        </div>
    </div>





</div>
<!-- Page Header Start -->
<!-- Contact Start -->
<div class="container-fluid bg-light">
    <div class="container pt-5">
    <div class="row">
        <div class="col-sm-3">رقم الطلب</div>
        <div class="col-sm-8">54545665454565475754</div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">رقم اللوط</div>
        <div class="col-sm-8">01</div>
    </div>
    <br />
            <div class="row">
                <label class="label lbl-style col-md-2 col-sm-3">العدد</label>
                <input class="form-control col-md-4 col-sm-6" value=""/>
                <span class="col-sm-2"> كرتونه او</span>

            </div>
            <br />
            <div class="row">
            <label class="label lbl-style col-md-2 col-sm-3">الوزن القائم</label>
                <input class="form-control col-sm-2" value=""  />
                <span class="col-sm-1"> طن</span>
                <input class="form-control  col-sm-2" value=""  />
                <span class="col-sm-1"> كيلوجرام</span>
                <input class="form-control col-sm-2" value=""  />
                <span class="col-sm-1"> جرام</span>


            </div>
            <br />

        <div class="row">
            <label class="label lbl-style col-md-2 col-sm-3">النتيجة</label>
            <select class="form-control col-md-4 col-sm-9" name="" onchange="">
                <option value="">-- اختار --</option>
                <option value="1">أفغانستان</option>
                <option value="2">ألبانيا</option>
                <option value="3">الجزائر</option>
                <option value="4">أندورة</option>
      
            </select>


        </div>
        <br />

        <div class="row">
            <label class="label lbl-style col-md-2 col-sm-3">إضافة تعليق</label>
            <textarea class="form-control col-md-4 col-sm-9" name="w3review" rows="4" cols="50"></textarea>


        </div>
        <br />
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-4 text-center">
                <input type="submit" class="btn btn-secondary" name="btnSave" value="حفظ">
                <input type="submit" class="btn btn-secondary" name="" value="إلغاء"></div>
            <div class="col-sm-4"></div>
        </div>
     <br />
     <br />
     
    </div>
</div>
